
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-1">

    </div>
    <div class="col-9 row">
        <div class="col-6">
            <h1><b>產品資料維護</b></h1>
        </div>
        <div class="col-6">
            <a href="#" type="button">新增產品</a>
        </div>
    </div>

    <div class="col-2">
        <h2><b>分類</b></h2>
    </div>
</div>

<div class="row">
    <div class="col-1">

    </div>
    <div class="col-9">

    </div>
    <div class="col-2">
        <select class="selectpicker">
            <option></option>
            <option>Ketchup</option>
            <option>Relish</option>
        </select>
    </div>

</div>