
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


    <ul class="list-inline list-group">
        <li class="list-group-item list-group-item-action">Cras justo odio</li>
        <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
        <li class="list-group-item list-group-item-action">Morbi leo risus</li>
        <li class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
    </ul>
