.about_div_img {
    background: url(~/Customer-Script/minishop_resource/images/bg_6.jpg);
}

.about_footer_img1 {
    background: url(~/Customer-Script/minishop_resource/images/gallery-1.jpg);
}

.about_footer_img2 {
    background: url(~/Customer-Script/minishop_resource/images/gallery-2.jpg);
}

.about_footer_img3 {
    background: url(~/Customer-Script/minishop_resource/images/gallery-3.jpg);
}

.about_footer_img4 {
    background: url(~/Customer-Script/minishop_resource/images/gallery-4.jpg);
}

.about_footer_img5 {
    background: url(~/Customer-Script/minishop_resource/images/gallery-5.jpg);
}

.about_footer_img6 {
    background: url(~/Customer-Script/minishop_resource/images/gallery-6.jpg);
}